*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header_box , .section_box , .text_section{
    transform: translateY(15px);
}
.hdbox{
    border-bottom: 1px solid gray !important;
}
li > a{
    color: #000;
    text-decoration: none;
    border-bottom: 2px dotted #000;
}
li>a:hover{
    color: #0d6efd;
    border-bottom:2px solid #0d6efd;
}
li{
    list-style: square;
}
.game_box{transform: translateY(100px);}

.gmBox{
    /* display: flex; */
    /* flex-direction: row; */
    border-radius: 20px;
    padding: 15px;
    height: 200px;
    margin: 10px 22px;
    border: 2px solid #E3E3E3;
}
.one_footer{
    width: 500px;
    transform: translateY(140px) translateX(250px);     
}

footer{
    transform: translateY(200px);
    width: 100%;
    height: 350px;
    background-color: #000;
}
#Logo{
    transform: translateY(80px) translateX(30px);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.ft >li >a {
    color: #E3E3E3;
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
}
.ft{
    transform: translateY(50px);
}
.ft > li {
    list-style: none;
}
.liTst{
    list-style: decimal;
}
#test_section{
    transform: translateY(100px);
}
.testDiv{
    transform: translateX(300px) translateY(50px);
    width: 700px !important;
    height: 200px !important;
    background-image: url('https://images.pexels.com/photos/7292745/pexels-photo-7292745.jpeg?auto=compress&cs=tinysrgb&w=600');
    border-radius: 20px;
    background-size: cover;

    /* border: 2px solid green !important; */
}
.testQuestions{
    /* transform: translate(0px , 100px); */
    width: 310px !important;
    height: 150px !important;
    border: 1px solid #000;
    /* background-color: #182C61; */
    border-radius: 20px;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/10529975/pexels-photo-10529975.jpeg?auto=compress&cs=tinysrgb&w=600');
    margin: 5px;
}
.testCnt{
    position: absolute;
    z-index: 999;
    /* display: inline-block; */
    transform: translateY(150px);
}
/*create style and button*/
.btn{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #E3E3E3;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.two_container{
    border-top: 1px solid #ffff;
    height: 50px;
    transform: translateY(-testQuestions66px);
    background-color: rgb(0, 0, 0);
}
.two_container > p{
    transform: translateY(10px);
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
#btn-suc{
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: #000;
    color: #E3E3E3;
}

.inpCross{
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #000;
    width: 60px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transform: translate(0px , -10px);
}
.inputs_one{
    width: 300px;
    transform: translateX(400px) translateY(50px);
}
.div_inps{
    width: 580px;
    transform: translateY(50px) translateX(490px);
}
.threeInp{
    display: flex;
    transform: translateX(401px) translateY(20px);
    width: 382px;
    flex-direction: column;
}
.InpForpl{
    display: flex;
    transform: translateX(276px) translateY(-135px);
    width: 55px;
    flex-direction: column;
}
.InpForTc{
    transform: translateX(329px) translateY(1px);
    width: 55px;
    /* display: flex; */
}
.InpForEr{
    transform: translateX(490px) translateY(-400px);
    width: 55px;
    display: flex;
}
.InpForuoy{
    transform: translateX(429px) translateY(-550px);
    width: 55px;
    /* display: flex; */
}
.InpForTg{
    transform: translateX(529px) translateY(-700px);
    width: 55px;
    display: flex;
}

.questionText{
    transform: translateY(-527px) translateX(45px);
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.gmBoxpl{
    /* margin: 5px !important; */
    border-radius: 20px;
    border: 2px solid green;
}
.klOOp{
    transform: translate(75px, 17px);
    width: 150px !important;
    height: 150px !important;
}
.yellowDiv{
    background-color: rgba(247, 247, 86, 0.473);
}
.textSavol{
    font-size: 20px;
    font-weight: 600;
}
#btn-text1 , #btn-text2 , #btn-text3 , #btn-text4 , #btn-text5 , #btn-text6 , #btn-text7 , #btn-text8{
    margin: 10px;
    background-color: rgba(247, 247, 86, 0);
    border: none;
    border-bottom: 2px solid #000;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    padding-left: 10px;
}
.divText{
    border-radius: 20px;
    height: 250px;
    margin: 50px;
    border: 2px solid green;
}
#inpAn1 , #inpAn2 , #inpAn3 , #inpAn4 ,#inpAn5 , #inpAn6{
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom:1px solid #000;
}
#ufo1{
    position: absolute;
    transform: translateY(50px);
    background-color: #E3E3E3;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
#ufo2{
    position: absolute;
    transform: translateY(50px);
    background-color: #E3E3E3;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
#ufo3{
    position: absolute;
    transform: translateY(50px);
    background-color: #E3E3E3;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
#ufo4{
    position: absolute;
    transform: translateY(50px);
    background-color: #E3E3E3;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
#ufo5{
    position: absolute;
    transform: translateY(50px);
    background-color: #E3E3E3;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
#ufo6{
    position: absolute;
    transform: translateY(50px);
    background-color: #E3E3E3;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
#ufo7{
    position: absolute;
    transform: translateY(50px);
    background-color: #E3E3E3;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
#ufo8{
    position: absolute;
    transform: translateY(50px);
    background-color: #E3E3E3;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
#ufo9{
    position: absolute;
    transform: translateY(50px);
    background-color: #E3E3E3;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
#ufo10{
    position: absolute;
    transform: translateY(50px);
    background-color: #E3E3E3;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
#ufo11{
    position: absolute;
    transform: translateY(50px);
    background-color: #E3E3E3;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}

.zone-1{
    background-color: #6ab04c;
    height: 1000px;

}
.zone-2{
    height: 1000px;
    background-color: #ff4d4d;
}